<nav class="px-4 flex flex-1 flex-row">
    <div class="text-xl">
        <a class="hover:underline text-primary-800 a:hover:text-primary-800 a:visited:text-text-600"
            href="/">Wingman</a>
    </div>
    {{!-- <div class="nav-item"><a href="/archive.html">Archive</a></div> --}}
</nav>
